.cart-product {
	height: 110px;
	display: grid;
	grid-template-columns: 1fr 3fr 0.5fr;
	color: #000;
	width: 90%;
	border-radius: 15px;
	overflow: hidden;
	padding: 5px;
	margin: 7px;
	background-color: white;
}

.image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.image-container img {
	max-width: 100%;
	max-height: 70%;
}
.detail-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	margin: 5px;
}
.product-name {
	max-height: 50px;
	overflow: hidden;
}
.quantity-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 120%;
}
.qNp-detail span {
	margin-left: 15px;
	font-size: large;
}
.buttons-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 10px;
}
.btn {
	display: flex;
	align-items: center;
	border-radius: 50%;
	height: 2rem;
	font-size: 1.5rem;
	transition: all 250ms;
	border: 0;
	width: 2rem;
}
.btn-qControl {
	background-color: rgba(71, 159, 246, 0);
	color: rgb(71, 158, 246);
}
.btn-qControl:hover {
	background-color: rgba(71, 159, 246, 0.403);
	color: black;
	box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.659);
}
.btn-remove {
	color: rgb(255, 0, 0);
	background: none;
}
.btn-remove:hover {
	color: white;
	background-color: brown;
	box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.659);
}
